<div class="container mt-3 country">
  <div class="title">
    <strong>Nombre del pais: </strong> <span>Uruguay</span>
  </div>
  <img
    src="https://static.vecteezy.com/system/resources/previews/005/416/910/non_2x/flag-of-uruguay-illustration-free-vector.jpg"
    alt="Uruguay"
  />
  <div class="description mt-3">
    <h3>Datos generales.</h3>

    <p>
      - Uruguay es un país de Sudamérica conocido por su interior verde y costa
      bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza
      Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a
      la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos
      restaurantes de carnes. La Rambla es un paseo costero con puestos de
      pescados, muelles y parques.
    </p>
  </div>
</div>
