<div class="container mt-3 country">
  <div class="title"><strong>Nombre del pais: </strong> <span>Peru</span></div>
  <img
    src="https://i.pinimg.com/originals/4b/da/b6/4bdab6a64af4d3e35d2b4d746a14b2c4.jpg"
    alt="Peru"
  />
  <div class="description mt-3">
    <h3>Datos generales.</h3>

    <p>
      Perú es un país de Sudamérica que abarca una sección del bosque del
      Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los
      Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el
      Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios
      arqueológicos.
    </p>
    <p>
      El Perú es uno de los países más variados del mundo. Un país
      multicultural, lleno de tradiciones, una laureada gastronomía y vastas
      reservas naturales.
    </p>
  </div>
</div>
